{
  "rules": {
    "semi": ["error", "never"],
    "indent": ["error", 2, { "SwitchCase": 2 }],
    "no-multiple-empty-lines": ["error", {
      "max": 1
    }],
    "no-unexpected-multiline": "error",
    "react/react-in-jsx-scope": ["off"]
  }
}
